xsd/amadeus/Air_TLAGetAvailability_05_1_1A.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace= "http://xml.amadeus.com/SLCCRQ_05_1_1A" 
xmlns="http://xml.amadeus.com/SLCCRQ_05_1_1A" 
elementFormDefault="qualified">

  <xs:element name="Air_TLAGetAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scrolling" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numberOfItemsDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="actionQualifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: n..3
                            </xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="request">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="boardOffPoints">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="origin" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="destination" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="requestDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightRequestDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flightDate">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="departureDate">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..8
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="8"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="departureTime" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: n..4
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="arrivalTime" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: n..4
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="boardPointDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="trueLocationId">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="offpointDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="trueLocationId">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="companyDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="marketingCompany">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="numberOfSeats">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="quantity">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: n..2
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="faresDetails" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="option">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="optionInformation">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..4
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="currency" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstCurrencyDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="currencyQualifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an1
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="currencyIsoCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
