xsd/amadeus/DocIssuance_IssueCombinedReply_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TCTMIR_15_1_1A" xmlns="http://xml.amadeus.com/TCTMIR_15_1_1A" elementFormDefault="qualified">
  <xs:element name="DocIssuance_IssueCombinedReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processingStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="statusCode">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123BDD82AD0174F06A272BB6A445EADE02048AC5244265C913E5A246D1772F253B587B18B65D0292667E921FA965B12E365959E4BB9B35BF48A7B371FA759C7E1AADAC91A21BA55FE6B3E93CBD182D57E5C7349DA729CB5699EF1AC085D260440D9CED05C29A2C6C4405FCE47D334F92A75A4F442D24B438A96C9DB07D6BA4865C399E2078AFCC1113A92A64D509AA873BFAAD05F7AE055659099482DC5813BCBA0643DE41688C6E234C17EA71D36A4D81A673EA78F2BD2BE1205AED97AE29A94BD92B4ADBEE35DCC1AF164C05B7C257A7410ECCB77FEA1ECCEF9CE730FFCBEEF9111C2A6BC872A08164C81247AAD0BDB003D1D9B49A7AB40154F423ADF8E760FD4540DB4AE861446D8F92B8E5F3EDF722CBB785540751F9D25A8DDBA2DCE50ABD30FE8AC8103042B55D09F70001719F83112E6E7FDA236999636C2482A9C11D614011ED85022DF1CE3A4FECCE7144EA2AC300F47D2C072F941E1665FE0B506395F16BF0FD326233CE5AFF864FF4C3BD4C583F40E08974A4E965925E0E315C58976945DAD88B20B8475501E6AAF2545BB8AE6788B5703EE8DE1B5529DF0D8378270C6A1152890E27D2980CCA65B64A9E25684563083A9F97097D65A13D395C6B2F41B772F5FE46291259452C4FA8FD4DEB9BD62FAC96E0780830361EAF7A861F70A4CCC1BA3A36311EB39E109F66EC4D719EDD66BBDC56D788ADA01BDE4D679FE9AC6BA10C2F7F940C9E1ADAD94EE02E2F96BCDCDC17E71D8D8403C1A7F47287002FAFCAD5F58635F426149ECE6F6458119F92F5A8C2DEC88C784424C9DF560F06D0D47B6540B2F3CAFE9CB28146776CB8073E9DB1575F26A25178040000
-->

