xsd/amadeus/DocIssuance_IssueCombined_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TCTMIQ_15_1_1A" xmlns="http://xml.amadeus.com/TCTMIQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="DocIssuance_IssueCombined">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="agentInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="internalIdDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inhouseId">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="9" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="overrideDate" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="businessSemantic">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="dateTime" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4" />
                          <xs:maxLength value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="month">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="day">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selection" minOccurs="0" maxOccurs="2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="value" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dummy.NET" minOccurs="0" maxOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paxSelection" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="passengerReference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="value">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stock" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stockTicketNumberDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="qualifier">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="controlNumber" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="optionGroup" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="switches">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="statusDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="indicator">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subCompoundOptions" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="criteriaDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="25" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="attributeDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="256" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="overrideAlternativeDate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="businessSemantic">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dateTime" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="year">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="4" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="month">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="day">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="infantOrAdultAssociation" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paxDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="otherCompoundOptions" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeType">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="attributeDescription" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="256" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123BDD8AAE0174F06A272BB6A45DEADE02188AC4244265C913E5A241D0771F653B587BDA7609489AF9497EA416C5AA5867659157772B7E914E2FC7E99771FA69B4745689E328BD9A5D4E67E9C568B12C3FA6E92C4D59B6CCC2B1019C6B0356D4C0D95620ACC8C24648E087109A5992BCD466226AA1A0C5897475C2B6AD550672ED79821082B67B4C9496C8E401E4D303FDD68207DF02934E01A520B7CE46AFAEC192B713063BB711F618EB71DB1A4381E6E8F5FE107A57C14EB4262C7C535297AA5754AEDD1A78805F2D5809F722C8C32007F6EB3F750FF64FCE29CEFF5A9D9EC1A376962C0F0648862CB1A70AC757B6233AEBD6508F2E82EAFC8E56F7E768FD45C03829CC30A2717B45DCF2D9E65B91E59B42E99D90A174CEE0A628AB5C631036DC10190246A8364BE19F2022EE73B0838B9B1F6E4F5A76DF35D281A9C1EF6140D1D9730D46E183F381D89DE388D4558611E8FB580E4168332CCAFE17A0C6691B5610FA6574CD78E7C21B3E9D1FEF65C2FA01224FA4234DAF93F47A88E1DCF9CC68D2C65E04C13F6B09986B19A8B6F0C79E21D6C287A8FB68B5D4E1380C12BCB068444C253A9C4863322897D9323929309AC610743EAF13FACA627B6AB8D65E826EE5E6FD8D52A463D561794113EEDAD0B461EE8C02CF6380B1F178D933FC80236D77CED75D13E331EB09F169C6DE14E7D97D56E54EDE22B6826EB89A5E7EA6B3AE85B6BCFC5E327869686795C02A2F16BC5C3F16E71D8D8407C1A7F47287002F6FCAE5ED4FD6D09BD07838BF916145FC82AC671DF7C6AF7A3CA223C9DF568F06D0D45B6D41B1F3CA78A925DDDD396B1DDF1B06369C01A7A5FD0661C1B3026F040000
-->

