xsd/amadeus/Fare_GetFareFamilyDescription_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFQFRQ_15_1_1A" xmlns="http://xml.amadeus.com/TFQFRQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Fare_GetFareFamilyDescription">
    <xs:annotation>
      <xs:documentation xml:lang="en">To request description of one or several Fare Families</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bookingDateInformation" minOccurs="0" type="StructuredDateTimeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">To request fare description that was defined on a given date.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="referenceInformation" minOccurs="0" maxOccurs="16" type="ReferenceInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">If fare family description is requested after a pricing request, the reference of the recommendation for which fare family description is expected must be entered here.  If fare family description is requested based on an existing TST, the reference of the TST for which fare family description is expected must be entered here.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="repricingIndicator" minOccurs="0" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This indicator is used in case of re-pricing use case where fare family description used in original ticket and in the current re-pricing is requested.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="documentInfo" minOccurs="0" type="TicketNumberType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Ticket number is provided in re-pricing use case only when PNR context doesn't exist (standalone mode).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="standaloneDescriptionRequest" minOccurs="0" maxOccurs="16">
          <xs:annotation>
            <xs:documentation xml:lang="en">Used to request Fare family description based on options provided in input.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fareInformation" type="FareQualifierDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Used to provide the Fare Family name.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInformation" type="OriginAndDestinationDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To provide the origin and destination for which Fare Family description is requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To provide the carrier for which Fare Family description is requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="flightDateInformation" minOccurs="0" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To request fare description that was applicable for a flight on a given date.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5" />
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="rateCategory" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to enter the Fare Family name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsType">
    <xs:sequence>
      <xs:element name="discountDetails" type="DiscountPenaltyInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To35" />
      <xs:element name="destination" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="999" type="ReferencingDetailsType" />
      <xs:element name="Dummy.NET" minOccurs="0" maxOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,35}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDEC616159F6222D6A80073592BC0BD4F970DC9B018321C736518AD472A8206A90FFDEA1246FB3A7B6177B66389A8FF7DEACAB9B6A5BECAAF2707B2396F9E26AB658CC961F781D8C963DCFAF56F95FABE547BEDEECFECCF3559EB36253C4BE05AC8D05271B1014387C9268D42E85B367D4EC5122DCD01BB6528138C7D8AEE6F3E7C666B2911A3ACC946FE6ECB173DA4269829823C468DC09E7DA2864EA0CEAEB03FD3652C4D001535E03A5A070DE25AF69C09137BD35AD747D6A275C672D05DA3E98D3398A77C5D88EDF05DF060351869E4BA7F9B57747A3A9869196FFE38E3E34321AEF56BC73B28B671FCC37D0BC4318D2B541653D760138C66054B43DA76F1E8DA61A1927D8723EE3976698C90C936F2DDFA639906F69FAF0043A7BC7341C6567E33AB4092E2D8ED22230EDBB470B0FF06F074EC19D8CEA3CBD80FBF44B6082FB91F392087A3DBC3C4140DA8AAC0016A80C59F2441DFA577624FAB69D25CC7C6272F0073A878F93F59302D62B6927C8AD3F69A2B15CEDFFAE8A725F6973942AEEBCB7B8AF7687D260942E5E1353C41F31B7DFC8F01512E3630E0E5CE3FEB33F512D771A0631FAD6D99E35104E308131D8B501ABF1C187F81F7CB438D25C05264CFF1F2B89756327E5B8DF82A8F5C6C51B88231D83D882F7F10D42839F049CB171858428A63BCAE7F9628A61ED43610DD59E149BB4601460494AA2DE24CA11456C6488A9EE17679489FDB4480CD2A11DF449F808C21AE753E55DB199BF68B086D69024A0D78C5E591A4FBF3D1F12CBF5E566C69A1419A01A2ED938C59ED1C6DB2EB65DACBDD510440A30369B6D4618FF406E7EDCC96CC64690C4A2606FFA8BE2AE38D432C06171F59E44DD48E3C4DDB662F0DC125F078987B25A8BDDF64B75E18753B614CB657E09885D7D5F6FEF594B1761F04C1C8FC88FF48805594F267146E6008D1C501443DB35C4F45FCBC6D8BE0454C1B4E9955D28FB49DA2407B1B862DF011275B4DC1A050000
-->

