xsd/amadeus/Fare_GetFareFamilyDescriptionReply_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFQFRR_15_1_1A" xmlns="http://xml.amadeus.com/TFQFRR_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Fare_GetFareFamilyDescriptionReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Returns up to 16 Fare Family descriptions</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" maxOccurs="16" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">For errors at message level</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareFamilyDescriptionGroup" minOccurs="0" maxOccurs="16">
          <xs:annotation>
            <xs:documentation xml:lang="en">Description of a given Fare Family</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceInformation" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Trigger Contains the number of the fare family for which description is returned</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareInformation" minOccurs="0" type="FareQualifierDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="previousTicketIndicator" minOccurs="0" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This indicator is used to identify fare family desrciption used in the original (previous) ticket. It is used only in re-pricing use case.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInformation" minOccurs="0" type="OriginAndDestinationDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">origin and destination for which Fare Family description has been requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains the name of the Carrier owner of the fare family for which description is returned.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="freeFlowDescription" minOccurs="0" maxOccurs="9" type="FreeTextInformationType_198124S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Free-Flow description of the fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="externalReferenceInfo" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Media reference ID for Fare Family.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ocFeeInformation" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">structured description of the fare family</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feeDescription" type="SpecificDataInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">fee type / description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="serviceDetails" minOccurs="0" type="SpecialRequirementsDetailsType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Service type, provider and group.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeFreeFlowDescription" minOccurs="0" type="FreeTextInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The description of the fee</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="externalReferenceInfo" minOccurs="0" type="ReferenceInfoType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Media reference ID for service.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ocFeeAmount" minOccurs="0" type="MonetaryInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fee amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorInformationFareFamily" minOccurs="0" maxOccurs="16" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error/warning for this fare family</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5" />
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify specific data and a quantity related to the data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Service Application (Included, At Charge etc...)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">OC subcode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusEvent" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="rateCategory" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to enter the Fare Family name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsType">
    <xs:sequence>
      <xs:element name="discountDetails" type="DiscountPenaltyInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType_275914C">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_198124S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType_275914C" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType" />
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To35" />
      <xs:element name="destination" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the "service Type" of the fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier owner of this service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherServiceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the service sub group</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationType" />
      <xs:element name="dataInformation" minOccurs="0" maxOccurs="99" type="DataInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FE33610BDF357107BE9A1B02CBB488B1AE0411B496E813A4915EFCD80C190639B588A5439541035C87FDFA12477D34B777BB16786A3F978EFCDB6BAAB9A625F95C7FB3BB1CE57378BD56AB1FE85D7C16839F0FC6693FFB459FFCAB7BBFD8F79BEC97356EC8A387480B5B1E0640B8202C78F128DDAA770F6829A3D49843B7AC34E2A109718BBCD72F9D2DA4CB652438F99F2ED923DF54E5B284D104B84188D3BE3521B854C5D407D7EA4DF568A187A60CA6BA01414CEBBE4B52D38F2E6B7B6936E48ED84EBADA540370473BE44F1A198DAF187E0BB6020CA3070E934BFF5EE6434D530D2F2DFDDC9875646E3DD86F74EF6F1E283F91B34EF11C6746D50598F7D008E311815EDC0E99B27A3A946C609B69C2FF8B5196632C3E45BCB9B3407F286A60FCFA0B30F4CC349F6366E4397E0D2E2242D02D3BE7FB2F0087FF5E0143CC8A82EF30BB88FDF0526B8AF39AF89A0B7E3EB3304A4ADC80A6081CA9025CFD461786327A2AFE92D61E61393A33FD2397E9CAC6F14B05E493B436EFD59138DE5E6F05B5594874A9B935471EFBDC543B53F9606A374F1969822FE88B9C34E86CF90189F7270E41A0F7FF833D572E77110A3EF9D1D580BE10C3318A35D1BB01A1F7D88FFC0478B23CD5560C2F4DFB192583776568EFB5F1075DEB8780771A263145BF03EBE4368F493803336AD9010C57447F9325FCD31AC7D28ACA1DAB36293168C022C4949D49B4439A188AD0C31D5FDE48C3271981789413AB4A33E091F4158E372AEBC2F76CB570DD6D01A9204F496D12B4BE3E9F7E74362B9BDDECC5493222354E3251BA7D80BDA78DFC7AE8FB5B71A824801C6168BDD04E30FC8CDD73B592CD804925815EC5D7F513C14C75A0638AE6E7E2651B7D238F1D0540C5E3AE2EB28F158565BB16F3E55577E38654BB15EE7D780D8D77FD64DC33ABA088317E278427EA247ACC87A368933324768E488A218DB6E21A6FF5AB6C60E25A00AA64BAFEC4AD97FA735D091E2664D88D50DFB0222A006CC1F050000
-->

