xsd/amadeus/MiniRule_GetFromPricingRec_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TMRQRQ_11_1_1A" xmlns="http://xml.amadeus.com/TMRQRQ_11_1_1A" elementFormDefault="qualified">
  <xs:element name="MiniRule_GetFromPricingRec">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retreive Mini Rules associated to a Quotation</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="recordId" maxOccurs="99" type="ItemReferencesAndVersionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">TST, PQR or Offer Tattoo</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">TST: to retrieve Mini-Rules associated to a TST  PQR: to retrieve Mini-Rules associated to a PQR of an Offer  OFR: To retrieve Mini-Rules associated to all PQRs of an Offer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">TST , PQR or Offer Tattoo.  or   "ALL" to retrieve Minirules associated to all TSTs, PQRs or PQRs of all Offers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.3.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15C22E3B0C49EC761F40001DDCC6C9062C69EAA6B700816A31895059F244B9A857F4BF8FB29DB6BBECE36250944C51CFFB7291AFF222DBE4B3DDD54A9C25693A4A3E8F92733EF75AC996275FA6C9C769FA892F969B0F49324D12962DB3D0D680736DC0CA0A042576171275B989E9F1232A76271156B487B52C411C43A8A793C96365C6B2920A1A1C97AE9AB0F208E5FD0D7D2B29826F80954E014240619D8DABAA024BAB61AFAAA56D6355611B632851B75E1F8E41BCCBFAAA7CED5DED3504E95B2EADE297CEEEB5A21A5A1AFECDEE9DAF64D0CE4E796365138ECEEB9FA07883D01D571A4BE3B0F1C031785D06D372FAE74E2BAA31E64427E1237EBA0CC7728C716D0C2F621FC80BEADE3F801ABF630AF6B23161E1EB484589BD34084CB9E6CEC00DFC68C096B096A13C0E3B602FFE8919D8D7334F5187E7DDD30378A45751E4C10095A1481EE886F699ED49A5A231C4CC45C1BA75A75AF7738CFE52C0B8529A01B97107A5BD984DB75FF36CB6CD95DECB326C9C33B8CD37BB99C6206DB824A5483F526EBB94FE1E82B687FE0C765AE3F6BB3B502D7BE81AD1EACA9A9655E00F30C0E8E2B906A3F0C6F9F0828F1E8ED4578691E9EFB919A9AECDE01CFB5F886AA76D5841E8E5E8CCE69D0B6F08B1BEF1C811E3902493241D7238773E339A2A0E3E8D0ED025E08CFC433792157B7658491F62B55BAB4B1DDAA1FDE0A545D3B992A808228C93A1F2265B4E9E14184DCD4BB2CDF39876596C4ABD1D1AB2C8E56952FA9A94E9007563AA6DC91ED184AB26D44D983BA3C08B98606C345AF6F0DE23D7AFD3311AB11E8D4833F6E67E91ADB3DD525B1D39ECD2F49CEC5C496DC5BAC8193CD6A4D44EE26E962FC4A6B8CD4FCA70E9418AB3B3E494109B65715D5CB39A6641E391D4ED99F7C28894A2071DD5A2B0C3233B92E2E5EA0584B977D59A4694AC5540C94E4AFDE9CC600191A6EC17814F8FB2F5040000
-->

