xsd/amadeus/PNR_List_00_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns="http://xml.amadeus.com/TNLRES_00_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="freeFormText" minOccurs="0" type="InteractiveFreeTextTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">provide free from or coded text information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="citypair">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originDestinationMarker" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">origin and destination</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="travellerInformationSection" maxOccurs="300">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travellerInformation" type="TravellerInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a traveler and personal details relating to the traveler.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="relatedProduct" minOccurs="0" type="RelatedProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="travelProduct" minOccurs="0" type="TravelProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="reservationInfo" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify a reference to a reservation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="productInfo" minOccurs="0" type="ProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify details related to availability status or cabin configuration for a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="messageAction" minOccurs="0" type="MessageActionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify the message type and business function</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorInformation" minOccurs="0" type="ApplicationErrorInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">to specify the error or information</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailTypeI">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error, coded - 366 for name list too long</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code list qualifier - INF for information code , WEC for warning code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responsibleAgency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code list responsible agency, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetail" type="ApplicationErrorDetailTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">APPLICATION ERROR DETAIL</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification , airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:sequence>
      <xs:element name="subjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies whether the free text is coded or not coded  3 for Literal text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded text, or specifies type of information in the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free form or coded text information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freetextDetail" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">FREE TEXT QUALIFICATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:sequence>
      <xs:element name="cityCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point  For non air segment, e.g. SUR, can be alphanumeric.  5 chars long Board and Off points for SNCF TRN segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="business" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">MESSAGE FUNCTION OR BUSINESS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:sequence>
      <xs:element name="function" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:sequence>
      <xs:element name="depDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">departure date of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteritic identification - class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item description identification - N for Night class</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Idenfication -Flight number or  OPEN (ARNK is not a possible value since no SI in similar name list)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subtype" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number alpha suffix  A, B, C, D, E</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to availability status or cabin configuration for a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" minOccurs="0" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number in party</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status, coded , cancel indicator , XX-cancel Airimp code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification - 1A for amadeus</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number - amadeus record locator of the requested PNR</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" minOccurs="0" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT DATE OR TIME</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyDetail" minOccurs="0" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">COMPANY IDENTIFICATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productDetails" minOccurs="0" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT IDENTIFICATION DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:sequence>
      <xs:element name="firstName" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller First Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify travelers and personal details relating to the travelers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="traveller" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passenger" minOccurs="0" maxOccurs="9" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller last name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095544D8FDA3010BDFB57587BE9A12284550F2B241FB24BA095161601AB5E90908907B0D6B1538F834857FBDF3B4E42777B6A2B45D1CCD8998FF7DE64962FF255B6C927BBA785B84D47B783949E3BFE1D940554B2E1A3741C9F3B3E9B6F3EA7E9384D5936CF4253014EB5012B4B1014D8DD4BD4C52686930B2AB697080B3AC34A16204E2154E3E1F0529A449652418D49E1CA21DBD7561998682F860821687BC4A1D205B2E204C5CB9ADEA514C1D7C00AA780AEA0B0CE46AF2CC192D79F9595B44D2C276C6D0C05AAC6EBE329889BAC2BC797DE555E4390BEE1D22AFEE0EC412BCAA1A5E1DFECC1F95206EDEC98D756D6E1E4BCFE098AD708ED75A5B1300E6B0F1C83D745300DA76FF65A518E841372291FF06B314C6482D13786AF621FC857D4BD3F834A6E988283AC4D98F92AC2A5C4411A04A65CBD37B0861F35D802963214A7FE04ECFD3F8109F6FDCE6B24E86DF77A068F3415591E0C501AB2E4912A346FEC40F4AD6A4398B9C864EBB774B61F47EB2F098C2BA4E92137EEA888C6C978FB35CF26DB5CE9832CC2C63983DB7CB39B680CD28607628AF823E6B673E95F2032DEDDC1966BDC3EBA23E5B2C7B611AD9EAC695809FE083D18AD3DD56014AE9D0FBFE1A3C191FACA3062FA676C42AC6BD32BC7FE174495D3362C207474B462F3CE850F08B57E1470C2BA1122A21857291DA6A33E8653E733A32977AFD8A8055D004E4849549B44D9A188A5F421E67DB6BAD0A1E907095E5A34AD3E091F4158E3B0CFBCC9E6C3570546D3189204F496D0298BEDA98FEB436279B8EE4C9793222D54ED266B5BB00B9AF05487AA0E5367147811038C0D06F30EC64FC8F5FB9E0C06AC03498C32F6A1BEC896D96EB958EDE83FA15C29B515CBC588C1A522B6761277937C2636ABE7FCCA0E971EA4187DB9FA62B3785CE56B56D13A683C11C11DEC1D376244D65947C2C86C71912D8422D65C01ED269C815DE969A38FA43DD6B32CA8AD5F5F55FA7EF4040000
-->

