xsd/amadeus/PNR_DisplayHistory_06_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PHIDRQ_06_1_1A" xmlns="http://xml.amadeus.com/PHIDRQ_06_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_DisplayHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scrollingDetails" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lastItemsDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="numberOfItems" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="lastItemIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="6" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="date">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n8</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="8" />
                          <xs:maxLength value="8" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="time">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="redundantElements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="option">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="predicate" minOccurs="0" maxOccurs="20">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="predicateDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="selectionDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="optionInformation">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherSelectionDetails" minOccurs="0" maxOccurs="10">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="optionInformation">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="predicateEnvRange" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rangeDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="min" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="max" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="predicateElementType" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="reference" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="segmentName">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="predicateFreeText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/06"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000008550CB6EC23010BCFB2BB857105315D446CA21128F536905E919197B0996FCA0DE4DD508F1EFDD3C54F5D6DBEC6B6676B6EBDD7A5F56EBD5F16D573CCAB99CCAC5543E4DAA06D0A876229FF3C53297CBC9F6B57A9032975204E501AF4A4371A3F60AF7E3ED0B12DA18182570A0B0EBA91A826EEF4247EF21101667E510848BA1EE080A4A0D08139B9383037C36BC0CEF8AF465189CAD837DE3A00871C3B0AFFBB35EB243FFC8B24564BC0252D621D304E05EAA61F4F1ED5DC54C0552B2A116A82FE055A7889C827CC9E452744AE6D00FC6A391B4C4FE74E8E9680081468913BBD8FDE67321BAE659C65A33E5958106671C4726528CF4E713815E25EAE047B0DA523B520FA6701353E92C13E3904DFFC6C68233788889C08CEB3F123B3C3FCB010000
-->

