xsd/amadeus/PNR_AddFrequentFlyerReply_04_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FFARES_04_1_1A" xmlns="http://xml.amadeus.com/FFARES_04_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_AddFrequentFlyerReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pnrInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0" maxOccurs="2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ssrGroup" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fqtvData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="actionRequest">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="companyDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="marketingCompany">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="operatingCompany" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="accountDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="frequentTravellerId">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="27" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="category" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rateClass" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="actionCode" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="statusCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorGroup" minOccurs="0" maxOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                      </xs:annotation>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCategory">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCodeOwner">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorText" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeText">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="70" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paxInfoGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paxInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paxDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="surname">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="70" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherPaxDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="givenName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="56" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="uniqueCustomerIdentifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ssrGroup" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fqtvData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="actionRequest">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="tier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="companyDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="marketingCompany">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="operatingCompany" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="accountDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="frequentTravellerId">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="27" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="category" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="rateClass" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="actionCode" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="statusCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorGroup" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorInfo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="errorCode">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCategory">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCodeOwner">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="errorText" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="freeText">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="70" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/08"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000085904D6FC2300C86EFF915DC2768F6C1C42AF550898FD3BA09BA330A892991D2A48BDD6915E2BFCF2DDDC46DB737B1FD3EAFBD5915AB6D5EAE96FBB7227B90F7722AE753F934295B40A3BA895CA4F379FAF83CD9BC967752A6520AAF6AC04669C8CED43570D99FBF20A20D9E5504070AFB3F5581D7DD45E850D7E009B3A37208C2055FF50619C5168409EDC1C10E3E5B6E867745FA742D1CAD836DEB20F361CD72780F6303B257FF603922B25E0229EB906D3CF05FAC60CCF15DBB929D32A4687D25509FA0563D11F90AF225910BD193CC6E288C434DB09E0AA09BA02327C7C1EDDAA68301041AA9070E56FC9DEC44D4A449C2F899AA958116677CA144C410E8663981B58AD4CB0F6FB5A56EB4BEE6C47588B9B36C8CBF2978B3B505677017228119DB7F0063A39333DE010000
-->

