xsd/amadeus/PointOfRef_Search_02_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PFRREQ_02_1_1A" xmlns="http://xml.amadeus.com/PFRREQ_02_1_1A" elementFormDefault="qualified">
  <xs:element name="PointOfRef_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="porFndQryParams">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resultListType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="outputLanguage" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="resultMaxItems" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
                    </xs:annotation>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="indexOfItem" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
                    </xs:annotation>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="targetCategoryCode" maxOccurs="3">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="geoCode" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="longitude">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..12</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="latitude">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..12</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="businessId" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="categoryCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="foreignKey">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="porId" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="radius" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
                    </xs:annotation>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="area" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="countryCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="stateCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="2" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="iataCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="name" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nameOfPOR">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..80</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="language" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="searchType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/08"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000085904F6FC2300CC5EFF914DC276836C1C42AF550893FA77513746714125322A54917BBD32AC4779F5BBA89DB6E2FB1FD7ECFDEAE8BF52E2FD7ABC35B913DC94739958BA99C4FCA16D0A86E2297E9E2399D2F27DBD7F241CA544AE1550DD8280DD985BA06AE87CB1744B4C1B38AE04061FFA72AF0BABB0A1DEA1A3C6176520E41B8E0ABDE20A3D88230A13D3AD8C367CBCDF0AE489F6F859375B06B1D643E6C580EEF616C40F6EA1F2C4744D62B20651DB28D07FE8B158C39BE6B57B2538614ADAF04EA33D4AA27225F41BE2472297A92D90F8571A809D65301741774E4E438B8DDDA7430804023F5C8C18ABF939D899A3449183F53B532D0E28C2F94881802DD2D27B056917AF9E1ADB6D48DD6B79CB8093177968DF137056FB6B1E00CEE43243063FB0FB908BD59DE010000
-->

