xsd/amadeus/PriceXplorer_ExtremeSearch_10_4_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FAESXQ_10_4_1A" xmlns="http://xml.amadeus.com/FAESXQ_10_4_1A" elementFormDefault="qualified">
  <xs:element name="PriceXplorer_ExtremeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="followupManagement" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numberOfItemsDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="actionQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="referenceQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="numberOfItems" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="itemsDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="numberOfItems" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="firstItemIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="lastItemIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="corporateInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="corporateFareIdentifiers" minOccurs="0" maxOccurs="20">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fareQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="identifyNumber" minOccurs="0" maxOccurs="20">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="itineraryGrp" minOccurs="0" maxOccurs="9999">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itineraryInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="origin" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an3..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="3" />
                          <xs:maxLength value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="destination" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an3..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="3" />
                          <xs:maxLength value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="locationInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="locationType">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="locationDescription" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="code" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="qualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="17" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="name" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="256" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="quantityInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quantityDetails" maxOccurs="20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unit" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="budget" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="monetaryDetails" maxOccurs="20">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="typeQualifier">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="amount" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="12" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="currency" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="travelDates" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dateAndTimeDetails" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="qualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="date" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="6" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="time" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an4</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4" />
                          <xs:maxLength value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="otherQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="otherTime" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an4</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4" />
                          <xs:maxLength value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stayDuration" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nbOfUnitsInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quantityDetails" maxOccurs="9">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="numberOfUnit" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flexibilityInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quantityDetails" maxOccurs="20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unit" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attributeInfo" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeFunction" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="attributeDetails" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeType">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="attributeDescription" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="256" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frequentTravellerInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frequentTravellerDetails" maxOccurs="9">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="carrier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="number" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="25" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="customerReference" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tierLevel" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tierDescription" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fareFamilies" minOccurs="0" maxOccurs="20">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:element name="commercialFareFamily">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="number" minOccurs="0">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="4" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="name" minOccurs="0" maxOccurs="9">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="35" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectionDetailsGroup" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionDetailsInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="selectionDetails" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="optionInformation" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nbOfUnitsInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quantityDetails" maxOccurs="9">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="numberOfUnit" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateAndTimeInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dateAndTimeDetails" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="date" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="6" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="time" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an4</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="4" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="otherQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="otherTime" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an4</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="4" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="quantityInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quantityDetails" maxOccurs="20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unit" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="attributeInfo" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeFunction" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="attributeDetails" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="attributeDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="256" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="departureDays" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="daySelection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dayOfWeek" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="7" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="additionalDaySelection" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dayOfWeek" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="7" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="selectionInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="selectionDetails" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="option">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="optionInformation" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="airlineInfo" minOccurs="0" maxOccurs="9">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="attributeDetails" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="25" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="attributeDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="256" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="airlineDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:sequence>
                      <xs:element name="companyIdentification">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="marketingCompany" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="2" />
                                  <xs:maxLength value="3" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="operatingCompany" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="2" />
                                  <xs:maxLength value="3" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="otherCompany" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="2" />
                                  <xs:maxLength value="3" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="officeIdInfo" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:element name="officeId">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="originIdentification" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="originatorId" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="9" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="inHouseIdentification1" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="9" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="inHouseIdentification2" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="9" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="inHouseIdentification3" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="9" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="originatorTypeCode" minOccurs="0">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="1" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="originator" minOccurs="0">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="30" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9EDB0A5B1B3755803E8E0354E2E4BFA910CD82140C0DAB42354963C51EE6A14FDEFA36C074B8002DB2E063F64F2D5436A99AED3FB649BCEF7376B398DE2681CC7E3E9D568654D0EED288E669797B38F5F46CBD5F67D14CDA24824ABC4B735D242693450A1140F40B8668B6AC8501EBCAF6793C973A52FA0821C1BBAC86C3511D901B3C70D7F2B90DE3528329B23A12769AC095E55A161AF004D9D5B83694359691AAD3950B74E9507DFBB3916D068BF74F596C5E47DC5DC360F1A37F8B34193E12DF8ECD027D07CFD278D68FE9C7909B77CDDBF3CA123650D5B0E357219B6A0E406EDAB2898C17DA359A20D383ABF63D2FD1CACBF14D036033DDC50DB32574ECE67BB345705647E6BADA65DBADDCF157930FE9A99302A86B45B817B44AF4CD99FA10E2BEDBED992CB98B2D3D0DDBC4257E2C0B4B3170A754E1BEB3C533BC68958504201E5796C8E1E941E4664FE8B4D6D95F16BF4276370D6FA1334A2971D0012EF5E743589AE86182DAC4BB4E28AD4FF4AE89E5486345799E78EE0DA1E1A55E07CA8F6DDA84CF97690EF1D18D2108E3213C968693254DE26ABC94B8E5AB178E07579BDE0AC08A2F2613BFB12BC1CD7E73BC9918E5007E399B4BF697CDDF885D5393A1902428CC7AB9EDC3B1A295358577522C663D1739171224E9ACBE436D9DF3ABED98F5A5B876E1F479F798F2B50462EEE8E6318814390D3383E06E4224937CB3B51F3C22B3A1C1FC03005F989AD27154623E39E0574D8E459ABA428946166C9AF7C83E0B2C387D19BF93793E9B37758619F13C799CA44B9B3CC7D788CE4C5B029328EC46FA420A0C973040000
-->

