xsd/amadeus/PriceXplorer_ExtremeSearch_10_3_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FAESXQ_10_3_1A" xmlns="http://xml.amadeus.com/FAESXQ_10_3_1A" elementFormDefault="qualified">
  <xs:element name="PriceXplorer_ExtremeSearch">
    <xs:annotation>
      <xs:documentation xml:lang="en">Extreme Search Request
Request the cheapest prices
Request the cheapest prices for Air Extreme Search applications</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="followupManagement" minOccurs="0" type="ActionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Long list management (Reserved for future use)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="corporateInfo" minOccurs="0" type="CorporateFareInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Corporate numbers or names (Reserved for future use)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="itineraryGrp" minOccurs="0" maxOccurs="200" type="DestinationInformationGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Itinerary information group</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="budget" minOccurs="0" type="MonetaryInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Budget</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="travelDates" minOccurs="0" type="DateAndTimeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Departure dates ranges</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="stayDuration" minOccurs="0" type="NumberOfUnitsGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Stay duration and flexibility</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="attributeInfo" minOccurs="0" maxOccurs="99" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Attribute information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="selectionDetailsGroup" minOccurs="0" maxOccurs="99" type="SelectionDetailsInfoGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Option description : Price result distribution, ...</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="departureDays" minOccurs="0" maxOccurs="99" type="FareRouteInformationGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of departure days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="airlineInfo" minOccurs="0" maxOccurs="9" type="TransportGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Airline information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="officeIdInfo" minOccurs="0" maxOccurs="20" type="OfficeIdDetailsGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of Office Id Details (Reserved for future use)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the action that should be taken on a selected reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItemsDetails" minOccurs="0" type="ProcessingInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemsDetails" minOccurs="0" maxOccurs="99" type="ReferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique reference or range of refernces</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDetails" maxOccurs="99" type="AttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provides the attribute type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the function of the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" minOccurs="0" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingCompany" minOccurs="0" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateFareIdentifiersType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates the type of corporate fares requested</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifyNumber" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Corporate contract number or name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateFareInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify corporate fare information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="corporateFareIdentifiers" minOccurs="0" maxOccurs="20" type="CorporateFareIdentifiersType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Corporate fare identifiers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date or time qualifier : Start Date, end date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="date" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time (Reserved for future used)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier (Reserved for future used)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other time (Reserved for future used)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" maxOccurs="99" type="DateAndTimeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationInformationGroupType">
    <xs:sequence>
      <xs:element name="itineraryInfo" type="OriginAndDestinationDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">Itinerary information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport or city indicator, Country, Region</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareRouteInformationGroupType">
    <xs:sequence>
      <xs:element name="daySelection" type="FareRouteInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day of week selection</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalDaySelection" minOccurs="0" type="FareRouteInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional day of week selection</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="selectionInfo" type="SelectionDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareRouteInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information for a fare route</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dayOfWeek" minOccurs="0" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the days of the week</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDescription" minOccurs="0" type="LocationIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location description : Country, Region</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify location.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country code, region code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country name, region name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" maxOccurs="20" type="MonetaryInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monetary details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of number of units and its purpose.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfUnit" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units of a certain type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of units information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsGroupType">
    <xs:sequence>
      <xs:element name="nbOfUnitsInfo" type="NumberOfUnitsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flexibilityInfo" minOccurs="0" type="QuantityType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flexibility of the stay duration</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number of units required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="9" type="NumberOfUnitDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of units and its purpose.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeIdDetailsGroupType">
    <xs:sequence>
      <xs:element name="officeId" type="UserIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office identification details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetails">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" minOccurs="0" type="AlphaNumericString_Length3To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Origin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" minOccurs="0" type="AlphaNumericString_Length3To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Destination</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">is alpanum since the sine of an agent might contain his initials and duty code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">In house identification 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification2" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">In house identification 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification3" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">In house identification 3</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the action to be taken and the selection criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Action qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfItems" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Quantity information in a transaction, qualified when relevant.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unit</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a pertinent quantity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="20" type="QuantityDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify which number in a sequence of references and/or the reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItems" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstItemIdentifier" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of segment starting range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastItemIdentifier" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of segment ending range</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInfoGroupType">
    <xs:sequence>
      <xs:element name="selectionDetailsInfo" type="SelectionDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of option : Price result distribution, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nbOfUnitsInfo" minOccurs="0" type="NumberOfUnitsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units information : Price results distribution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateAndTimeInfo" minOccurs="0" type="DateAndTimeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Dates and time information (Reserved for future use)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantityInfo" minOccurs="0" type="QuantityType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity information (Reserved for future use)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeInfo" minOccurs="0" maxOccurs="99" type="CodedAttributeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionInformation" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Associated option information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" maxOccurs="99" type="SelectionDetailsInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportGroupType">
    <xs:sequence>
      <xs:element name="attributeInfo" type="AttributeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineDetails" minOccurs="0" maxOccurs="99" type="TransportIdentifierType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify transport service(s) or to specify transport service(s) which is/are to be updated or cancelled.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given in DE 9900.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length3To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15C22E3B0C71ECAEDB21800E6EF381014B9A2619B6438040B59844A82C79A25CC42BFADF47D9CE9A9EB601412051F24BEA79C9D9643159E59BC97877B7105769960DD22BFAF1EFA02CA0920DCFAE47D9E75176CD67F3CD87341DA529CBE779682AC0A9366065098202BB1B89BAD8C4707242C51E24C282CEB09205886308D568383C952691A554506352B872C88A23148F6BFA2FA508BE065638050801857536EECA122CEDFAB3B292B689AAC2D6C650A06ABC3E1C83789777AA7CE95DE53504E91B2EADE2B7CEEEB5220D2D0DFF62F7CE9732686747BCB6B20E47E7F52F50BC4668AF2B8D8571587BE018BC2E8269387DF3A01569249C00A57CC0CFC9309109C6BD317C15EB40BEA2EAFD13A8E41D53B097B509335F452A4AECA54160CAD50F06D6F0B3065BC05286E2D8BD0EECCD3F2103FB7AE739DAF0B27B7E028FF4285A79304032B492074AD0BCB03D99B4AA0D2173D1AF76DF9AD67E1C577F1130AE90A6276EDC41692FC6A3ED44E9BD2CC2C63983DBC96637D618A40DB7E41139479E6DE7D23F42D0F6D0DDC1D665DC7E750792B187B606ADEEAC695809FE003DA0763DD56014AE9D0F7FC0D19B914ACA31D27C1B1B93DFDAF43D63FF8B4EE5B40D0B08174678E7C2051CD6151E11629C907498667D0CA7CEE7469362DFA1D17B5D008EA97328233561870D4BE94354FB6675A143D3971FBCB468DA7E242A82E0E2B057DEE4F3E1B302A3A978490DF392D0298B45A9CB71A1EEB83DCF48A7499116503BA0DA16EC8426DCD5A1AAC3D419055EC4006383C1BC83F71EB97E9D8BC18075684496B38BFC225FE6BB254D04FCA88CF3E07759FA899AB994DA8AE9FDD9092E3D48719565E78098E693F5EC9E55D4F51A8FE466C7B833427CA4D5938EEE88ACC3215B72E24DAAC92978286968A42F8EECEC8CC8B57F73B28A438581F57E8B2C65BF01A2EE3A1EDF040000
-->

