xsd/amadeus/Queue_PlacePNR_03_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/QUQPCQ_03_1_1A" xmlns="http://xml.amadeus.com/QUQPCQ_03_1_1A" elementFormDefault="qualified">
  <xs:element name="Queue_PlacePNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="placementOption">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="option">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetDetails" maxOccurs="10">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="targetOffice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sourceType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sourceQualifier1">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="originatorDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="inHouseIdentification1">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="9" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="queueNumber" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="queueDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="categoryDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="subQueueInfoDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="identificationType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="itemNumber" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="itemDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="placementDate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="timeMode" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dateTime" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="year">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="4" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="month">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="day">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="hour" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="recordLocator">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="8" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED302476960D6B03E8E0D54E7658D27CB8B7008662338E5059F244B96850F4BF8F921DACDD65DBC52069FA25F9905E66EB6C97E4595ADCAFF9A778FA791CDF8CA7F168DFE94A5C46F197F96C369FDD8C96ABFC631CCFE39825ABC45D5AC08554A045039C1D05C29A2C6C4509FCEC5C3B8FA2E7464D44232AE870529A2662475254904ACB2304E7A4AE31AA6489AC3C43F9B8A76723B8B31DB0D2544029C8B5D1DE6B1AD0E49D84C2E0B6425F7C3DAE3BA528D05EACACCFAE772B38894EB9A56D73EAB2EA152BD31D15ECE16707BA848D70E5799003FDED9FBA07FD3BE7C5CFFF5ABC3C81456934591614900C59A2A60A975776223ABB4E518FC6830A7EA0153EF6D65F049429851A4654A6AE885B3A3F7CCF92F49055F2244A971BA3F090E5452AD109EDEE880C0123548795B08FE011F73918E0E2E187A9494BD7A19100A6015BC38022D80B09AAC2BDB18ED85DE388D455821EE8FB580A4E48352C4AFF17A0D648EDD6E0FA658466AC31EE0D9FE0FB7B99B07E00CF13E948E3DB28BE1D62B830365192B4B11741B04FB2044C65E9A8B6B0979E2136C23AAFFBA06529DD6518C459A151099F4A743891C66850CE9355F45281923486A0F3799DD05BE6DBAB866BED25E856EEDEDF284502AB80E51995BBEF5CDBB985511558EE038C8DC7AB9EE1071C497D32B6094D8CC7AC27C4A7097B539C279BA4D876D041318DE99E1B2135DF3E640C9E5B5A5621B048B325CF77141A96331216049F7EBDFA94BEDDDC6D594BFF82C4F3F5DF1856C3A7643D49BF2F3203161108F2BEEA46D16637EB1DBBEEE7CFF8B06C1ECFD82FDFAE49B955040000
-->

