xsd/amadeus/SalesReports_DisplayTransactionReportReply_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRTRR_12_1_1A" xmlns="http://xml.amadeus.com/TSRTRR_12_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayTransactionReportReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sends back the reporting data related to a transaction</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a potential error and its associated Free flow text.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="transactionReportDataDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys all the details associated to a transaction.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="agencyDetails" type="AdditionalBusinessSourceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys agency details:  - IATA number - Office ID.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="agentDetails" type="TicketAgentInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys details related to the agent associated to the requested document.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateDetails" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the issuance date.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="documentNumber" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Logical document number with airline code and related details.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="transaction" type="TransactionInformationForTicketingType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Transaction details:  - transaction code - transaction type</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="documentIdentification" type="ItemNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This conveys the sequence number of the document within the sales report.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="monetaryInfo" type="MonetaryInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys various document amounts:  - fees amount - commission amount - total taxes amount</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reservationInformation" minOccurs="0" type="ReservationControlInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Reservation information: RLOC of the PNR.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="passengerName" minOccurs="0" type="TravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the passenger name.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="tourCodeDetails" minOccurs="0" type="TourInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the information about the tour code associated to the document.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="invoiceDetails" minOccurs="0" type="DocumentInformationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the invoice details.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fopGroup" maxOccurs="3" type="FOPRepresentationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This group conveys data related to the FOP.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="tax" minOccurs="0" maxOccurs="3" type="TaxTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Taxes information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareCalcDetails" minOccurs="0" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the fare calculation details in all cases.   In specific cases (market/airline specifics) it conveys also: - the revenue attribution number/pseudo IATA number (entered in FZRA) - the payment on demand number generated at issuance time</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="pricingIndicator" minOccurs="0" type="PricingTicketingDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the pricing indicator.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="referenceData" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the Settlement and authorisation code if present.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="feeGroup" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the fees data if present</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feeType" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the fee type.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeDetails" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys details on the fee:  - fee subcode - fee amount - tax on fee code - tax on fee amount</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feeSubType" type="SpecificDataInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Fee subtype</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="feeMonetaryInfo" type="MonetaryInformationTypeI_52231S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">fee monetary Info</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="feeTaxInfo" minOccurs="0" maxOccurs="99" type="TaxTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Fees taxes</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="exchangedGroup" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details about exchanged tickets</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ticketExchanged" type="TicketNumberTypeI_63924S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">exchanged Ticket Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="couponAssociated" minOccurs="0" type="CouponInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Coupon numbers and SAC number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">details of the sales report originator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="settlementAuthorization" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">SAC number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cpnReferenceNumber" minOccurs="0" type="AlphaNumericString_Length1To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails1" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number and SAC number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="couponDetails2" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number and SAC number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="couponDetails3" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number and SAC number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="couponDetails4" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number and SAC number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the fee subcode.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of document by number, status and date.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the number of the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information concerning a document.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="DocumentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Invoice details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FOPRepresentationType">
    <xs:sequence>
      <xs:element name="fopDescription" type="FormOfPaymentTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monetaryInfo" type="MonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey monetary amounts, currency...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount paid by the form of payment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vendorCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card company identification (VI, CA, AX...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expiryDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expiry date of the credit card.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="approvalCode" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Approval code of the credit card.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceOfApproval" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the approval code: manual or automatic.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extendedPayment" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Extended payment indicator in case of CC Form of payment. It is composed of the sales channel indicator and the instalement value.  Example:  FP CCVI4012122222222226/1012/N123456/E01  Extended payment = E01</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the subject</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error free text details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InternalIDDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an internal identification and the type of identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inhouseId" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the agent's sine and duty code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of the inHouse ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a document sequence number within the sales report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the sequence number of a transaction within a sales report display.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency of the amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI_85122C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">amount type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the amounts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI_52231S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI_85122C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI_85122C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other monetary details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA number of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey pricing and date information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="priceTicketDetails" minOccurs="0" type="PricingTicketingInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys details on the pricing of the ticket.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify indicators related to pricing and ticketing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicators" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the pricing indicator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an association between references given to travellers, to products, to services</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">REFERENCING DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the type of the reference.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" minOccurs="0" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number : RLoc of the PNR.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="9" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the type of carrier fee.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source qualifier: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that data are associated to all agencies sharing the same IATA number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys fees subcode and information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Current date - Requested specific date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a rate, type of tax, and currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rate" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the tax amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">First code is the iso code. The second one can (in some cases) specify a nature for the tax.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details relating to tax(es).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Category of the tax.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxDetails" minOccurs="0" type="TaxDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketAgentInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey travel agent and system identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdNumber" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="internalIdDetails" minOccurs="0" maxOccurs="5" type="InternalIDDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the agent's details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">document number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI_84557C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfBooklets" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">In case of conjunctiv, indicates the total number of tickets.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI_84557C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the document transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provide status on the document in the sales report: it can be confirmed or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI_63924S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">document identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TourDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide details of a tour by code, name of the tour provider, length, number of stops, room occupancy and number of rooms.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TourInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information concerning a tour.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourInformationDetails" minOccurs="0" type="TourDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the tour.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationForTicketingType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to specify details relating to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="transactionDetails" type="TransactionInformationsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reporting transaction details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details related to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Code, coded : CANR  MCOA  MCOM  MDnn MPnn PTAM TKTA  TKTB  TKTM  TKTT  TORM  XSBA  XSBM  ACMR   RENM  RFND  ACMA  SSAC  TAAD  ADMA  RCSM  SSAD  BPAS  CANX CANN  PSCN  VSCN  RSCN RENA TASF</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Type, coded :     SALE     INVT     REFD      ADJA     ADJP     AUTS     CCAS     CCCS     MANS     VOID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issueIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">'O' --) Original transaction code 'C' --) Current transaction code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys details on the passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname followed by the name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553CB6EDB3010BCF32B885E7A282C4B2E9AA206785062276D512781ACA017030623AE6D2214A972A9206A907FEF52929BE4D4F422EC83DAC7CCECC5F27259E4E572B1BDBA14B3349B4DD29349F691FF04650195EC7896CD3F7D99CF3EF38B55F9214DE769CAF2551EBA06F05C1BB0B2064181EDA9445D95319C3CA062B712E19272D8C80AC42184663E9D3ED42691B554D06252B97ACA6E5BAB0C2CB417538410B4DDE354E90A597580EA6E4DDF5A8AE05B609553404F505867A357D760C91B7375236D17DB09DB1A4381A6F37A7F08E25D3EB4E3D7DE355E4390BEE3D22A7EE6EC4E2BAAA1A5E1DFECCEF95A06EDEC9CB756B6E1E0BCFE0D8AB708FD73A5B1320E5B0F1C83D755301DA77F6EB5A21A0927E4523EE1C76698C804A36F0C2FE21CC80B9ADEDF834ADE31053BD99A70E19B0897123B69109872EDAD8135FC6AC156702D43751833604FDF0426D8E7378F91A0A7EDE33D78A4ADC8F26080CA9025F7D4A17B623BA2AF680D61E62293BDDFD3D9FF1CAD7F1430AE926684DCB8BD221A17F3CDD765BED82C95DEC92A94CE19DC2CCBED426390369C1153C41F31B759497F0791F1E10DF65CE3E687DB532DBBEF07D1EACA9A8ED5E0F73082D1DBE71A8CC2B5F3E12F7CB438D25C39464C5FC716C4BA36A372EC7F41D4386DC32584818E5E6CDEB9F002A1DE8F024ED8B0424414E329A5D3341B6378EE7C6E34D51E151BB5A02BC00529897A93280714B1963EC4BA3756573A74E322C14B8BA6D727E123086B9C8E95CB7C357D546034AD2149404F0965591C4FBD3C1F12CBD9F166869A14E9A1EA2F59DB8A3DA009576D68DA70EE8C022F6280B1C96435C0F81EB97EBE93C9840D20892C672FFA8BFC3ADFAE491658404304E1369BCD48DCB5D4567CCFAF193CC4F056E276B1BC106571B33CF2C4A507294E4E8EBE28D7455914ACA1C3D07820AA070206964446D6BD8ED489D98090ECC114AFBA93F01A23BBF2393F64D891C1B73DA72F0971948AC866EC0F0B915FDB39050000
-->

