xsd/amadeus/Service_StandalonePricing_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TPSSGQ_15_1_1A" xmlns="http://xml.amadeus.com/TPSSGQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Service_StandalonePricing">
    <xs:annotation>
      <xs:documentation xml:lang="en">This message enables airlines, airline sevice suppliers and their trading partners to request an itinerary be priced for possible ticketing purposes.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="passengerInfoGroup" maxOccurs="99" type="PassengerInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">passengers list</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="flightInforGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">flight information</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="segmentInformation" type="TravelProductInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">segmentInformation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="additionnalSegmentDetails" minOccurs="0" type="AdditionalProductDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Used for technical stops, even if it is currently deprecated.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="productInfo" minOccurs="0" type="ProductInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">productInfo</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="feeDetailsInfoGroup" minOccurs="0" maxOccurs="999" type="ServiceRequestDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">fee Details InfoGroup</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pricingOption" minOccurs="0" maxOccurs="999">
          <xs:annotation>
            <xs:documentation xml:lang="en">Pricing Options Group</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pricingOptionKey" type="PricingOptionKey">
                <xs:annotation>
                  <xs:documentation xml:lang="en">the smart name of the option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="optionDetail" minOccurs="0" type="AttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a free text</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a carrier code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="currency" minOccurs="0" type="CurrenciesType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a currency code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateInformation" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a date</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="frequentFlyerInformation" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option deals with Frequent Flyer Information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="formOfPaymentInformation" minOccurs="0" type="FormOfPaymentType" />
              <xs:element name="locationInformation" minOccurs="0" type="PlaceLocationIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes location code.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ticketInformation" minOccurs="0" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a ticket number.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paxSegTstReference" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to associate the option to a passenger or a segment.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information concerning an airline flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="legDetails" minOccurs="0" type="AdditionalProductTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Additional details describing a specific means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="equipment" minOccurs="0" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Equipment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfStops" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of stops</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locations" minOccurs="0" maxOccurs="3" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Locations</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for attribute value rather than attributeType</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="operatingCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI_217496C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstCurrencyDetails" minOccurs="0" type="CurrencyDetailsTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier  706 for Birth date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="date" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" maxOccurs="99" type="DateAndTimeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date and time details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify fare details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="valueQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger Type Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">indicates wether the transaction is a credit or debit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="vendorCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the code of the vendor/carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="expiryDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">expiry date of the credit card</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="approvalCode" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="sourceOfApproval" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="authorisedAmount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="addressVerification" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="customerAccount" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="extendedPayment" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="fopFreeText" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="membershipStatus" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="transactionInfo" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="pinCode" minOccurs="0" type="AlphaNumericString_Length1To100">
        <xs:annotation>
          <xs:documentation xml:lang="en">stores a pin code attached to the account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pinCodeType" minOccurs="0" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details pin code type (in case of encrypted pin code)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the form of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFormOfPayment" minOccurs="0" maxOccurs="2" type="FormOfPaymentDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" maxOccurs="99" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the FQTV is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To28" />
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier linked to the FQTV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : priority code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of seat requested.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinClassDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class designator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="noSmokingIndicator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">No smoking indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClass" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compartmentDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Compartment designator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatCharacteristic" minOccurs="0" maxOccurs="5" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat characteristic</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" minOccurs="0" type="AlphaNumericString_Length1To25" />
      <xs:element name="trueLocation" minOccurs="0" type="AlphaNumericString_Length1To17" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarriageControlDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify details concerning the marriage status of travel product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relation" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="marriageIdentifier" minOccurs="0" type="NumericInteger_Length1To10" />
      <xs:element name="lineNumber" minOccurs="0" type="NumericInteger_Length1To6" />
      <xs:element name="otherRelation" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="carrierCode" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Created by importexport 02/10/2002 16:43</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specificTravellerDetails" type="SpecificTravellerTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">traveller index</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareInfo" minOccurs="0" type="FareInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger Type Code. By default it is ADT (Adult).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestDateAndTimeInfo" minOccurs="0" type="DateAndTimeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Usage date/time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3" />
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationType" />
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOptionKey">
    <xs:sequence>
      <xs:element name="pricingOptionKey" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOrTicketingSubsequentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumber" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Price type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specialCondition" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">RFIC Reason For Issuance Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherSpecialCondition" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">RFISC Reason For Issuance Sub Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalSpecialCondition" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional special condition</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="arrivalDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="arrivalTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify availability and additional services for a product class.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="designator" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">designator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify availability and additional services for a product class.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="designator" type="AlphaNumericString_Length1To17" />
      <xs:element name="availabilityStatus" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="specialService" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="option" minOccurs="0" maxOccurs="9" type="AlphaNumericString_Length1To7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To35" />
      <xs:element name="bookingClass" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="modifier" minOccurs="0" maxOccurs="3" type="AlphaNumericString_Length1To7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to availability status or cabin configuration for a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productDetailsQualifier" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="bookingClassDetails" minOccurs="0" maxOccurs="26" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">bookingClassDetails</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to routing status of a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productDetailsQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">value of the Qualifier: INT for International DOM for Domestic EUR for European  otherwise CM#10569 INVALID INTERNATIONAL INDICATOR is returned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClassDetails" minOccurs="0" maxOccurs="26" type="ProductDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional characteristics of a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIndicator" maxOccurs="9" type="AlphaNumericString_Length1To6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Quantity information in a transaction, qualified when relevant.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericDecimal_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unit</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a pertinent quantity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="9" type="QuantityDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeOfRowsDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify row information for a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatRowNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat row number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfRows" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of rows</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatColumn" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat column</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType_165903S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType_234638C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType_234638C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Car/value code, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatRequestParametersTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the selection criteria for a seat map request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="genericDetails" minOccurs="0" type="GenericDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Generic details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rangeOfRowsDetails" minOccurs="0" type="RangeOfRowsDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Range of rows details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processingIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceRequestDetailsType">
    <xs:sequence>
      <xs:element name="identifier" type="PricingOrTicketingSubsequentType">
        <xs:annotation>
          <xs:documentation xml:lang="en">identification key</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestDetails" minOccurs="0" type="SpecialRequirementsDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">service Request Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestDateAndTimeInfo" minOccurs="0" type="DateAndTimeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Usage date/time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestProductInfo" minOccurs="0" type="ProductInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Booking, transporting class information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestParameters" minOccurs="0" type="SeatRequestParametersTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat request parameters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantitiesInfo" minOccurs="0" type="QuantityType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage weight per passenger per segment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceRequestReferenceInfo" type="ReferenceInfoType_165903S">
        <xs:annotation>
          <xs:documentation xml:lang="en">Service request reference info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Code of the SSR/OSI/SK.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberInParty" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify, for some SSR, the number of items involved  (e.g.: for PETS, BIKE....)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify to which carrier the service applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPoint" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place/location identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offPoint" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place/location identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceFreeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To109">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free Text attached to the Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificTravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional details about a particular traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceNumber" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificTravellerTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional details about a particular traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travellerDetails" type="SpecificTravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3" />
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="numberOfBooklets" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of booklets</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataIndicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="requestNotification" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI_217496C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" minOccurs="0" type="ProductDateTimeTypeI" />
      <xs:element name="boardPointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="companyDetails" minOccurs="0" type="CompanyIdentificationTypeI" />
      <xs:element name="flightIdentification" minOccurs="0" type="ProductIdentificationDetailsTypeI" />
      <xs:element name="flightTypeDetails" minOccurs="0" type="ProductTypeDetailsTypeI" />
      <xs:element name="itemNumber" minOccurs="0" type="NumericInteger_Length1To6" />
      <xs:element name="specialSegment" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99" type="MarriageControlDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To109">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..109</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="109" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To28">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..28</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To100">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..100</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C471B2051B02E8E0364E366069B324BD0508148B4984CA9227CA45BDA2FF7D94EDACDD651F1783A4687EBCF7B8C86FF275B6CD67FBDB1B314E479341FA6990BEE74B67956C78FA713A194FC7295F2CB7EFD2749AA62C5B66A1A900E7DA809525080AECAF24EA621BC3C9232A76900837F486952C409C43A8A6C3E1636912594A053526852B87EC505B6560A6BD182284A0ED09874A17C88A3314F71BFA9652045F032B9C024A41619D8D5E598225AF7F2B2B699BD84ED8DA180A548DD7A773106FB2AE1D5F7957790D41FA864BABF8B5B347ADA88696867FB147E74B19B4B3535E5B5987B3F3FA07285E23B4E94A63611CD61E3806AF8B601A4EFF1CB4A21A0927D8523EE0976698C804A36F0C5FC73990AF697AFF002A79C3141C656DC2C257112E258ED22030E5EA83810D7CAFC116B092A138F72F60AFFE094CB02F394F91A0E7FDD30378A4ADC8F26080CA90254FD4A1796647A26F5D1BC2CC45265BBFA5B3FD395A7F29605C214D0FB971274534CEA6BBCF7936DBE54A1F6511B6CE19DCE5DBFD4C6390365C1353C41F31B75B4A7F0F91F12E075BAE71F7D59DA8963DB58368756B4DC34AF027E8C168EDB906A370E37CF8051F2D8E34578611D3DF6333625D9B5E39F6BF20AA9CB6E1064247472B36EF5C788550EB470127AC5B21228AF18ED2613AEA6338773E339A6AF78A8D5AD005E08C9444BD49941D8A584A1F62DD3BAB0B1D9A7E91E0A545D3EA93F01184350EFBCADB6C397C526034AD214940CF09BDB2389E7A7D3E2496EBCBCD743529D242D55EB2B6057B44136EEB50D561EE8C022F6280B1C160D9C1F816B97EB993C18075208951C65EF517D92ADB6FBAF5F6A3C907D27529B515AB75CEE0B122CAF612F7B37C21B6EBBBFC4211971EA4188FD34B406C579BCDE21BABE828349E89E60EFC8E213122EB4147DAC86CD1912D90E2D279436A539284042BBA565219BB30F687945E096234613F01F0F5E0A515050000
-->

