xsd/amadeus/Service_IntegratedPricing_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TPISGQ_15_1_1A" xmlns="http://xml.amadeus.com/TPISGQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Service_IntegratedPricing">
    <xs:annotation>
      <xs:documentation xml:lang="en">This message enables airlines, airline sevice suppliers and their trading partners to request a pricing of ancillary services</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pricingOption" maxOccurs="999" type="PricingOptionGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Pricing Options Group</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for attribute value rather than attributeType</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstCurrencyDetails" minOccurs="0" type="CurrencyDetailsTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">indicates wether the transaction is a credit or debit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="vendorCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the code of the vendor/carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="expiryDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">expiry date of the credit card</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="approvalCode" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="sourceOfApproval" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="authorisedAmount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="addressVerification" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="customerAccount" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="extendedPayment" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="fopFreeText" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="membershipStatus" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="transactionInfo" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="pinCode" minOccurs="0" type="AlphaNumericString_Length1To100">
        <xs:annotation>
          <xs:documentation xml:lang="en">stores a pin code attached to the account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pinCodeType" minOccurs="0" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details pin code type (in case of encrypted pin code)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the form of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFormOfPayment" minOccurs="0" maxOccurs="2" type="FormOfPaymentDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" maxOccurs="99" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the FQTV is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To28" />
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier linked to the FQTV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : priority code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3" />
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationType" />
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOptionGroup">
    <xs:sequence>
      <xs:element name="pricingOptionKey" type="PricingOptionKey">
        <xs:annotation>
          <xs:documentation xml:lang="en">the smart name of the option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionDetail" minOccurs="0" type="AttributeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes a free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes a carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="CurrenciesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes a currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateInformation" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes a date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frequentFlyerInformation" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option deals with Frequent Flyer Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="formOfPaymentInformation" minOccurs="0" type="FormOfPaymentType" />
      <xs:element name="locationInformation" minOccurs="0" type="PlaceLocationIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes location code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ticketInformation" minOccurs="0" type="TicketNumberTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">in case the option value takes a ticket number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxSegTstReference" minOccurs="0" type="ReferenceInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="en">to associate the option to a passenger or a segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOptionKey">
    <xs:sequence>
      <xs:element name="pricingOptionKey" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3" />
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="numberOfBooklets" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of booklets</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataIndicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="requestNotification" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To28">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..28</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To100">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..100</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C471B215DB02E8E0364E566069B324BD0508148B4984CA9227CA45BDA2FF7D94EDACDD651F1783A4687EBCF738CF6FF255B6C9A7BBDB1B314E471783F4D3207DCF17CE2AD9F0F4E3E4623C197DE6F3C5E65D9A4ED294658B2C3415E04C1BB0B2044181DDA5445D6C62387944C5F612E186DEB09205885308D564387C2C4D224BA9A0C6A470E590ED6BAB0C4CB517438410B43DE250E902597182E27E4DDF528AE06B608553402928ACB3D12B4BB0E4F56F65256D13DB095B1B4381AAF1FA780AE24DD6B5E34BEF2AAF2148DF706915BF72F6A015D5D0D2F06B7B70BE94413B3BE1B595753839AF7F80E235429BAE3416C661ED8163F0BA08A6E1F4CF5E2BAA9170822DE5037E6E86894C30FAC6F0559C03F98AA6F70FA092374CC141D626CC7D15E152E2200D0253AEDE1B58C3F71A6C014B198A53FF02F6F29FC004FB92F314097ADE3D3D8047DA8A2C0F06A80C59F2481D9A677620FA56B521CC5C64B2F55B3ADB9FA3F59702C615D2F4901B775444E374B2FD9267D36DAEF4411661E39CC16DBED94D350669C3153145FC1173DB85F4F71019EF72B0E51AB75FDD916AD9633B8856B7D634AC047F841E8CD69E69300AD7CE875FF0D1E24873651831FD3D3625D6B5E99563FF0BA2CA691B6E207474B462F3CE855708B57E1470C2BA1522A218EF281DA6A33E8633E733A3A976AFD8A8055D004E4949D49B44D9A188A5F421D6BDB3BAD0A1E917095E5A34AD3E091F4158E3B0AFBCC916C3270546D31A9204F49CD02B8BE3A9D7E74362B93ADF4C5793222D54ED256B5BB04734E1B60E551D66CE28F02206181B0C161D8C6F91EB973B190C5807921865EC557F912DB3DDBA5B6F37BAF840BA2EA5B662B9CA193C5644D94EE26E9ACFC56675979F29E2D28314E3717A0E88CDF27A3DFFC62A3A0A8D27A2B903BF63488CC87AD09136325B74640BA43877BEB6018E5E923E9674ADA4327666EC0F29BD12C4E882FD04273490B015050000
-->

