xsd/amadeus/Service_IntegratedCatalogue_16_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TPICGQ_16_1_1A" xmlns="http://xml.amadeus.com/TPICGQ_16_1_1A" elementFormDefault="qualified">
  <xs:element name="Service_IntegratedCatalogue">
    <xs:annotation>
      <xs:documentation xml:lang="en">This message enables airlines, airline sevice suppliers and their trading partners to request a catalogue of ancillary services</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pricingOption" maxOccurs="999">
          <xs:annotation>
            <xs:documentation xml:lang="en">Pricing Options Group</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pricingOptionKey" type="PricingOptionKeyType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">the smart name of the option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="optionDetail" minOccurs="0" type="AttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a free text</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a carrier code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="currency" minOccurs="0" type="CurrenciesType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a currency code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateInformation" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a date</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="frequentFlyerInformation" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option deals with Frequent Flyer Information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="formOfPaymentInformation" minOccurs="0" type="FormOfPaymentType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option deals with Form Of Payment</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="locationInformation" minOccurs="0" type="PlaceLocationIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes location code.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ticketInformation" minOccurs="0" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">in case the option value takes a ticket number.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reservationInformation" minOccurs="0" type="ReservationControlInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">PNR record locator</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paxSegTstReference" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to associate the option to a passenger or a segment.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for attribute value rather than attributeType</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstCurrencyDetails" minOccurs="0" type="CurrencyDetailsTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the form of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFormOfPayment" minOccurs="0" maxOccurs="2" type="FormOfPaymentDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" maxOccurs="99" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the FQTV is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To28" />
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier linked to the FQTV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : priority code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3" />
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationType" />
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOptionKeyType">
    <xs:sequence>
      <xs:element name="pricingOptionKey" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" minOccurs="0" type="AlphaNumericString_Length1To20" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="9" type="ReservationControlInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3" />
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="numberOfBooklets" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of booklets</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataIndicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="requestNotification" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To28">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..28</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FE33610BDF357107BE9A1B02C1BD8A030C083D696DD0075E23ADE9B0163228E6D622952E55041D420FF7D8792DC4D2FFDB80833C3D17CBCF766533E94FBE250AE4E8F0F6A9ECFEE26F97C927F96EB60347432FFBC98FFB298DDC9CDF6F0739E2FF25C14DB22760DD2DA587450A3E2C0E90B90A90E299CBD9216CF40F8C06FD44085EA1A63B3984E5F6B9B410D1A5BCA2A5F4FC573EBB4C595096A4A18A371179A6A5391A8AE587D7BE26F0D2A861645E535720A29E75DF2EA1A1D7BE35BDD80EB523BE55A6B39D074C15CAE517D2A867672177C130C46089D04A7E5D2BBB3D15CC38095F7EEEC430DD178B790AD83365E7D307FA2962D619FAE0D55D6531B50520CA68AB693FCCFB3D15C23930C5B2E27F2D68C32C828F9D6CA7D9A83E49EA70F2FA8B34F42E3195A1B37A149706975064B28B46F9F2D3EE11F2DBA0A7710ABEBF882EECB7F0213DD8F9CB744D0FBE9ED0503F1566C05B4C865D8820B77E8DEC599E9DBB79631F389C9DEEFE9EC7F4ED6BF14B0BE023B426EFD45338DABC5F1D7B2581D4B6DCE50C583F7968EE5E1B43214C1C52533C5FC3173C72D846F98181F72A8E79A8EBFF90BD772977E10A31F9DED448DE1822318BDBD3668353DF910FF828F17279EABA084E9DF632B66DDD85139EE7F41D478E3E203C6818E5E6CC1FBF801A1DE4F02CEC4B0424294D21DE5D37C36C668ED43610DD71E159BB4602AA4152B897BB3280714A9861053DDAFCE542676E322318023DBEB93F1518C354DC7CA87623B7DD3680DAF012CA0F78C5F451A4F7F3C1F16CBF27633434D8EF450F5976C5C255EC9C6C736366D5C7BAB31A814106232D90E30FE44D2FCB893C9440C20A959213EF457C5AE383D0DEB9D667733D6750DC6A9DDBE14F8DA306527A0D3AADCA8C3FE6B79A348424050F3797E0BA8C3EE7EB9F95D347C1486AE4CF300FEC0909AB1F562126D6CF6E8400FA4BA75BE77112F01581F4B88C090F0CF37CEFE316954839ADD89EFE0F7CCBD19050000
-->

