xsd/amadeus/ServiceBookAndPrice_1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdl.amadeus.com/ServiceBookAndPrice_v1" xmlns:ama_2010_06_ServiceBookAndPrice_v1="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" targetNamespace="http://wsdl.amadeus.com/ServiceBookAndPrice_v1" name="ServiceBookAndPrice_1.2">
  <wsdl:documentation>Version 1.2</wsdl:documentation>
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" schemaLocation="AMA/2014S/AMA_Service_BookPriceProductRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" schemaLocation="AMA/2014S/AMA_Service_BookPriceProductRS.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" schemaLocation="AMA/2015K/AMA_ServiceBookPriceServiceRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" schemaLocation="AMA/2015K/AMA_ServiceBookPriceServiceRS.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="AMA_ServiceBookPriceServiceRQ_1.001">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_ServiceBookPriceServiceRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_ServiceBookPriceServiceRS_1.001">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_ServiceBookPriceServiceRS" />
  </wsdl:message>
  <wsdl:message name="AMA_Service_BookPriceProductRQ_1.001">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_Service_BookPriceProductRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_Service_BookPriceProductRS_1.001">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_Service_BookPriceProductRS" />
  </wsdl:message>
  <wsdl:portType name="ServiceBookAndPrice_PT">
    <wsdl:operation name="Service_BookPriceProduct">
      <wsdl:documentation>Version 1.1</wsdl:documentation>
      <wsdl:input message="tns:AMA_Service_BookPriceProductRQ_1.001" />
      <wsdl:output message="tns:AMA_Service_BookPriceProductRS_1.001" />
    </wsdl:operation>
    <wsdl:operation name="Service_BookPriceService">
      <wsdl:documentation>Version 1.1</wsdl:documentation>
      <wsdl:input message="tns:AMA_ServiceBookPriceServiceRQ_1.001" />
      <wsdl:output message="tns:AMA_ServiceBookPriceServiceRS_1.001" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>

