xsd/amadeus/Ticket_DeleteTSTReply_04_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSTDR_04_1_1A" xmlns="http://xml.amadeus.com/TTSTDR_04_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DeleteTSTReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processStatus" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="responseType">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="processingStatus">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationError" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applicationErrorInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="applicationErrorDetail">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="applicationErrorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codeListQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codeListResponsibleAgency" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorFreeText" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrLocatorData" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservationInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123B4D57AC0174F06A2703B6A445E2DE02188ACD384265C913E5A246D1771F253B587BDA7631489AFE497EA4D7D936DB25799616F75B7E15CFAFA7F1D7E93C9EEC3B5D897E127F592E16CBEB9BC97A937F8EE3651CB36493B8BE055C49055A34C0D951206CC9C25694C0CFCEB5CB287A69D44C34A2820E67A5692276244505A9B43C42704EEA1AA34A96C8CA33944F7B7A36823BDB012B4D0594825C1BEDBDA6014DDE49280C6E2B74EFEB71DD294581B6B7B23EBBC1ADE0243AE5D6B6CDA9CB6A50AC4C7754B0875F1DE8121E842BCFA31CE86FFFD43DE83F39AF7EFEB7E2F5192C4AA3C9B2A08064C8123555E8DFD889E8EC3A453D1A0F2AF88156F8D85B7F1150A6146A1C5199BA226EE9F2F03D4BD24356C993285D6E8CC2439617A94427B4BB2332048C501D36C23E81473CE460808B879FA6262D5D87460298066C0D238A60AF24A80AF7C63A627789235257097AA01F63293821D5B828FD5F805A23B5DB821B96119AB1C6B8777C82EFEF65C686013C4FA4238D6FA3F8768CE1CAD84449D2C64104C13ECB123095A5A3DAC2F603436C84755EF751CB52BA7E1CC459A151099F4A743891C66854CE934DF45A81923486A0F3799BD15BE6DBABC66B1D24E856EE3EDE284502AB80E50595BBEF5CDBB995511558EE038C4DA79B81E1279C487D32B6094D4CA76C20C4E7097B579C270F4991CB92D65ACC6371A4936E84D43CFF91317869695F85C022CDD63CDF3D6697FD4C8405C1AF6E2E3ECFF37D9EEE584BBF83C4F3E5F718B7C3E7643D4BBF323203191120F2B1704A790E48825D96C4C790CF9581B7DA3B63A11ABED841AB7A369E018F17EC378FF64F4C6F040000
-->

