xsd/amadeus/Ticket_DisplayTST_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSTRQ_15_1_1A" xmlns="http://xml.amadeus.com/TTSTRQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DisplayTST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="displayMode">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeType">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrLocatorData" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservationInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scrollingInformation" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nextListInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="remainingInformation" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="remainingReference" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tstReference" minOccurs="0" maxOccurs="1980">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceType" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="uniqueReference" minOccurs="0">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:decimal" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="iDDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="iDSequenceNumber">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="psaInformation" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="refDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="refQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="refNumber" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC761812DB2D52AC0174F06A271BB0A46DE2DE0204AACD384265C913E5A246D1771F253B687BDA7631489AFE497EA457F926DFA6459E1D6E37FC224EE6D3F86A1A7F9BAC8DAE443F492E17F36431BF9EACD6C5D7385EC4314BD7A9EB5BC0A554A045039C3D0A840D59D88A12F8C9B97611452F8D9A894654D0E1AC344DC41E3B5D29C8A4E511827352D71855B244569EA07CDAD1B311DCD90E58692AA014E4DA68EF350D68F28E4261705BA17B5F8FEB4E290AB4BD95F5C90D6E0547D129B7B26D415D56836265BA47053BF8DD812EE14EB8F234CA81FEFE4FDD837ECF79F5F3BF1D5E9FC1A2349A2C0B0A48862C515385FE8D1D89CEB653D4A3F1A0821F68858FBDF51701654AA1C61195A92BE2962DF63FF234DBE7953C8AD215C628DCE7C52193E884763744868011AAFD5AD827F088871C0C7071FFCBD4A4A5EBD04800D380AD614411ECA50455E1CE5847ECCE7144EA2A450FF4732C0327A41A17A5FF0B506BA4761B70C3324233D618F7814FF0FDBDCCD83080E78974A4F175145F8F315C1A9B2A49DA388820D867590266B274545BD87E60888DB0CEEB3E68594AD78F83382B342AE153890E27D2188DCA45BA8E5E2B5092C610743E6F337ACB7C7BD578AD8304DDCACDE71BA5486015B0BCA072B79D6B3BB734AA02CB7D80B1E9743D30FC8213A98FC636A189E9940D847892B20FC5797A971E0A59D25A0FC9FC922EBA1152F36257307869695D0781872C5FF162FB909FD733111604BFB83AFBBCA0FCED3D6BE96F90783AFF1DE3727842D6B3F41B2333801181211FEBD29DB54AF4BEE679497C05AE40F7F37D80A535CD9DB6F71DD89E8D07C0934BF607917E176E69040000
-->

