xsd/amadeus/Ticket_CancelDocumentReply_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TRCANR_11_1_1A" xmlns="http://xml.amadeus.com/TRCANR_11_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_CancelDocumentReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">to acknowledge cancellation of the document(s)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionResults" maxOccurs="20">
          <xs:annotation>
            <xs:documentation xml:lang="en">for each processed document, up to 20, contains the information expected in CTS for further processing and a canned message number to be displayed to the user.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="responseDetails" type="ResponseAnalysisDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Response analysis details</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="sequenceNumberDetails" minOccurs="0" type="ItemNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Sequence number of processed document</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ticketNumbers" minOccurs="0" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">the ticket numbers of the modified document, inclusive of check digit.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Describe the error</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="sacNumber" minOccurs="0" type="ReferenceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">settelment authorization code number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value will be 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Manual source : M</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Mutually defined : ZZZ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text to detail the error</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">document sequence number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">value used: FROM or TO</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="2" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">range of sequence numbers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To14">
        <xs:annotation>
          <xs:documentation xml:lang="en">value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="responseType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tell what kind or response is handled, X for cancel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tell if response was successful or not. O if success, N if error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">document number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">document identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To14">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..14</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C96EDB3010BDF32B885C7A282C4BE96E8007C5768202B51338CA2D80C190639B0845AA1C2A881AE4DF3B94E426050AB4BD08B350B3BCF7E662B95E6ECA6AB9D85EAEC5695E1493FCD3E4F4035F79A765C7F32FB3779F671F727EB1AADEE6F92CCF59B92A63D7009E1B0B4ED62028B03D93685495C2D9236A762711D694C3462A1087189BD974FA58DB4CD652438B99F2F594DDB54E5B589820A608311AB7C7A9360A993A80BABFA66F2D450C2D30E535D01314CEBBE4D53538F2C65CDD48D7A576C2B5D652A0E982D91FA238298776FC2AF826188832745C3ACDE7DEED8CA61A465AFED5ED7CA86534DECD78EB641B0F3E981FA0798BD03FD70695F5D806E0188351D1769CFEB9339A6A649C60CBF9841F9B6126334CBEB57C93E640BEA1E9C303E8EC8469D8C9D6C68BD024B8B4D8498BC0B46FEF2C5CC3F7169C822B19D561CC803BFB2730C1BDBC794A043D6F9F1E20206D4556000B54862CB9A70EDD33DB117D9BD612663E31D9FB3D9DFDCFC9FA4B01EB95B423E4D6EF35D1B898DD2EB5D949152BEF2DDE2EABEDC260942ECE8924A28E48BB5DC9700F89ECE10DF634E3ED37BFA7326EDFCF60F4A5B31DAB21EC61C4A1B7CF0D588DD73EC45FC8D1CE48239598E0FC3DB620C28D1D45E3FE0B9DC61B17D71007267A9D05EFE32B707A3F693763C30A094C4C27944FF3628CE1B90FA535547B146B928151800B1211F5263D0E00622D434C756F9C512676E322314887B69726E12308669C8E95AB72357DD2600DAD21493BCF1965591A4FBFBE1CD2C9FC782E434D8AF450F5476C9C628F68E3651B9B369E7BAB218814606C32590D30BE416E5E4E6432610348A228D9ABFEA2BC2AB79551C4EDB628DE93A26B699CA8AE370C1E1B626C2B71BB585E886A73B33C32C46500293E7E3CFA949C97EB0D6BE81A0C1E88E401FA811F5190F560126964F6D8C81E4631F69D4B3A1EBBF0AA4D0BB323577F4E6FA021898D221045C17E024385FCE00B050000
-->

