xsd/amadeus/Ticket_CreditCardCheck_06_1_1A.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace= "http://xml.amadeus.com/CCVRQT_06_1_1A" 
xmlns="http://xml.amadeus.com/CCVRQT_06_1_1A" 
elementFormDefault="qualified">

  <xs:element name="Ticket_CreditCardCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="commonCcData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ccInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vendorCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an2
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="2"/>
                          <xs:maxLength value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="cardNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..19
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="19"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="expiryDate">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: n4
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="4"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="validatingCarrier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="priceInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="currency" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: a3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="amount">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: n..12
                            </xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="avsInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="addressCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..20
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="zipCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..9
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="9"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hiddenData" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="securityId" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        Edifact representation: an..4
                      </xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1"/>
                    <xs:maxLength value="4"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="authenticationData" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="transactionIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..70
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="70"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="veres" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: a1
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="pares" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: a1
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="creditCardCompany">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..4
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="authenticationIndicator" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="authenticationCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..70
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="70"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="country" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="countryCode">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        Edifact representation: an..3
                      </xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1"/>
                    <xs:maxLength value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
