xsd/amadeus/Ticket_CreateTSMFareElementReply_10_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFRECR_10_1_1A" xmlns="http://xml.amadeus.com/TFRECR_10_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_CreateTSMFareElementReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorWarningGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="language" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText" maxOccurs="99">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fareElementTattoo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="qualifier">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="number">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED3024B153605803E8E025760F5BD222716F010255661CA1B2E4897250A3E87F1F253B587BD9C7C52029E9D5AB87F45DBECD775999AF8FF75BBE48D2649AA6D3C59749E15425FA4972BB5C2C96375F27779BF273922C9384659BCCF72D60A13418D100674F02614B11B642023F7BDF2EE7F39746CF44232AE870266D3367F20CF2794FDF4670EF3A60D25680E0911B6B42D63460283B098D316D85E9832C379DD654687BA7EAB31FD20A4EA2D3FECEB52599A906C5CA764F1AF6F0B30323E14178791E16C07CFB278F607EEF790DAF7C3BBE5EC0A1B28622071A48862251D305FD1B3B11835DA7C9A20D38621E99C4C321FA8B80B652E8F185DAD695727CBD3CE4953A09E94B6B351EF2F2B856E885F12B6242A808D26123DC337865EA610F46AC78F8616B923175F4105FDE80AB61641AE34281AE706F9D276AD73A2219CA30A0FC585B83174A8F2D32FFC5A6B5CAF82DF8776D70D6FA7768D8603B00449ABDE4769EDC8E352CACCBB422451C8E22B88B92806B253DDD285C3F40C346381FD41E8D92CAF7A37DEF84412DC25662C2092DCE47E532DBCC5F2BD08ACC0B1A97B719ADB260AA1AA77390A0E1587D9C49AA444211C60B6A7FDFF9B6F385D515381E0A8C4DA79B81DC279C2873B2AE8926A6533670E169C6DE5DCEB387EC582A49CD3CA6C90D4D702394E1E5F7F2DA81897020784A3FDE58E065B1CB573BD6D2AC2B3C5F677F6C004F29BAA8D0150A23061189F1F19615C97928F79B8284730DE181ECDA923F6DDA41AB7B36769C0CB15F68978DFD3B040000
-->

