xsd/amadeus/Ticket_CreateTSTFromPricingReply_04_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TAUTCR_04_1_1A" xmlns="http://xml.amadeus.com/TAUTCR_04_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_CreateTSTFromPricingReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="applicationError" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applicationErrorInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="applicationErrorDetail">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="applicationErrorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codeListQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codeListResponsibleAgency" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorFreeText" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrLocatorData" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservationInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tstList" minOccurs="0" maxOccurs="1980">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tstReference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceType" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="uniqueReference" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal" />
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="iDDescription" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="iDSequenceNumber">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paxInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="refDetails" minOccurs="0" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="refQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="refNumber" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED302476DAAE5803E8E0C54E066CC98AC4BD0530149B7184CA9227CA458DA2FF7D94EC60ED651F1783A4E997E4437A9D6DB35D926769F163CBAFE2F9CD34FE3C9DC7937DA72BD14FE24F8BEBEBC5CDED64BDC93FC6F1228E59B2495CDF02AEA4022D1AE0EC2810B664612B4AE067E7DA45143D376A261A514187B3D234113B92A282545A1E213827758D51254B64E519CAC73D3D1BC19DED8095A6024A41AE8DF65ED38026EF241406B715BAF7F5B8EE94A240DB5B599FDDE05670129D726BDBE6D465352856A63B2AD8C3CF0E7409F7C295E7510EF4977FEA1EF4EF9C173FFF6BF1F20416A5D1645950403264899A2AF4AFEC4474769DA21E8D0715FC402B7CECADBF0828530A358EA84C5D11B77471F89A25E921ABE449942E3746E121CB8B54A213DA2D890C012354878DB08FE0110F3918E0E2E1BBA9494BD7A19100A6015BC38822D82B09AAC2BDB18ED85DE288D455821EE8FB580A4E48352E4AFF17A0D648EDB6E086658466AC31EE0D9FE0FB7B99B16100CF13E948E3BB28BE1B63B832365192B4711041B04FB2044C65E9A8B6B0FDC0101B619DD77DD0B294AE1F0771566854C2A7121D4EA4311A95F36413BD54A0248D21E87C5E67F496F9F6AAF15A0709BA95E5FB1BA5486015B03CA3723F3AD7766E65540596FB0063D3E96660F80127529F8C6D4213D3291B08F179C2DE14E7C97D52E4B2A4B516F3581CE9A41B2135CFBF650C9E5BDA5721B048B335CF770FD9653F136141F0ABDB8BCFF3E4215FEE584BBF83C4F3E5F718B7C3E7643D49BF327E35901101221F0B2F49CD41BECF57D634F79638EA014838A83F24EDA0553D1BCF81C737EC178A09106377040000
-->

