xsd/amadeus/Ticket_ReissueConfirmedPricing_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARCPQ_13_2_1A" xmlns="http://xml.amadeus.com/TARCPQ_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_ReissueConfirmedPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticketInfo" maxOccurs="9">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paperticketDetailsFirstCoupon">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="type" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="couponInfoFirst" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="couponDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpnNumber">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherCouponDetails" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpnNumber">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paperInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paperInformationDummy">
                      <xs:complexType>
                        <xs:sequence />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="paperticketDetailsLastCoupon">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="documentDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="number">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="type" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="papercouponInfoLast">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="couponDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cpnNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="otherCouponDetails" minOccurs="0" maxOccurs="3">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cpnNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ticketRange">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="paperticketDetailsfirst">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="documentDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="number">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="35" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="type" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="paperticketDetailsLast">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="documentDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="number">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="35" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="type" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED30247692AD4503E8E0254E0E5BFA91BAD86580A14A4C2254963C51CE6A14FDEFA36567EB4EDB2E0649D32FC987F426BFCE775991AFCA9B6B3E4BA7F371FA713CBB1A7D056501956847E9E5E2C3E5627639DA6C8BF769BA4853966DB3D0D6806B6DC08A0A387B1408D764612D24F06308F522499E2B33119550D0E044BA2A618F8D550656DAF30421046D0F98282D91C923C8A77B7A568207DF00934E01A520B7CE765E5581256F2F0C46B716B6EDEA71DB184381BAF5FA700CBDAB602F1A1336BE2EA84BD52B2AD73C1AB887EF0D5809B722C8E32007F6D33F750FF677CE4B37FF6BF972028FDA59B23C182019B2C4812AB4AF6C4F74768DA11E5D072AFA9156FCB8B3FE22609C146618D1B883EAB879A85C80A4FA919C40E9BD90A154704AF2DE2E9C3398E445B9D218840D4B224500095DB215FE093AE47D0E46D8F8ED8B3B90B63DC4C622A80AFC010634D15E6B300AEF9D0FC4F21C47A42E33EC00FF195B4110DA0C8BB3FF05AC76DA866B08FD726233DEB9F08657F4BBFB99B07E808E2FD2DDA657497A35C470ED7C663469632F82E04F5A02AEB40C545BF8B6678A95F0A1D37DB05AEAD00E83042F2C1AD1A5121D4EE47FE12AB26DF2A2C0681A43D039BD4EE82DEBDA53C3F5F612743BCB3F6F96229155C4F28C26DC34A16EC2DA19059E7701C6C6E36DCFF01D8EB4DD3B5FC526C663D613E2D38CBD29CEB3DBAC2CB4A4B596D3F99C2EBC12DAF2E273CEE0B9A6759502CB55BEE1C5EE213FAF67243C087E7171F679B15A2E1FEE584D7F87C6E3F96F1996C367649D74B7313223181119F2A1EE0E3462034B67F7DA57A06E3D91B43D9278527D1E858614E5247AA8FBB4BB067C1B1F6CB80B3E9DB39FB6B847EF93040000
-->

