generali/schemas/GBO/Enterprise/Organisation/V2/OrganisationGBO-V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--(c) Reply Limited. All rights reserved. -->

<!--  $Id: OrganisationGBO-V2.xsd 1210 2017-05-22 15:54:06Z rahmans $ -->

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cmn="http://generali.com/enterprise-services/core/gbo/common/v1"
	xmlns:cdt="http://generali.com/enterprise-services/core/gbo/common/core-types/v1"
	xmlns:tns="http://generali.com/enterprise-services/core/gbo/enterprise/organisation/v2"
	xmlns:ecmn="http://generali.com/enterprise-services/core/gbo/enterprise/common/v1"
	targetNamespace="http://generali.com/enterprise-services/core/gbo/enterprise/organisation/v2"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<description>Business Object supporting retrieving a customer's information.</description>
		</xsd:documentation>
	</xsd:annotation>
    
    <!-- +++++++++++++++++++++++ -->
    <!--       Imports           -->
    <!-- +++++++++++++++++++++++ -->

	<xsd:import
		namespace="http://generali.com/enterprise-services/core/gbo/common/core-types/v1"
		schemaLocation="../../../../GBO/Common/V1/CoreTypes.xsd" />

	<xsd:import
		namespace="http://generali.com/enterprise-services/core/gbo/common/v1"
		schemaLocation="../../../../GBO/Common/V1/Components.xsd" />
		
	<xsd:import namespace="http://generali.com/enterprise-services/core/gbo/enterprise/common/v1"
		schemaLocation="../../Common/V1/Components.xsd" />

    <!-- +++++++++++++++++++++++ -->
    <!--       Declarations      -->
    <!-- +++++++++++++++++++++++ -->

	<xsd:complexType name="OrganisationGBOType">
		<xsd:annotation>
			<xsd:documentation>
-				<xsd:description>Documentation for the elements below can be found at
					https://itservices.generali.co.uk/workspace/display/BPR/Organization+Data+Dictionary
				</xsd:description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<xsd:element name="GUNSNumber" type="ecmn:GUNSType"
				minOccurs="0" />
			<xsd:element name="FullName" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The legal name of the Organisation
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DUNSNumber" type="cmn:DUNSType"
				minOccurs="0" />
			<xsd:element name="PrimaryAddress" type="cmn:AddressType" />
			<xsd:element name="GlobalUltimateGUNS" type="ecmn:GUNSType" minOccurs="0" />
			<xsd:element name="GlobalUltimateName" type="xsd:token" minOccurs="0" />
			<xsd:element name="NationalIds" type="tns:NationalIdsType" minOccurs="0" />
			<xsd:element name="SIC" type="xsd:token" minOccurs="0" />
			<xsd:element name="IsOutOfBusiness" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="CompanyLevels" minOccurs="0" 
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CompanyLevel" type="cdt:CodeType" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsIndividual" type="xsd:boolean" />
			<xsd:element name="CreationDate" type="xsd:dateTime"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<description>
							The date and time the business object or
							component was created. A date and time
							formatted in compliance with the ISO8601
							standard must be used.
						</description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateLastUpdate" type="xsd:dateTime"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<description>
							The date and time the business object or
							component was last modified. A date and time
							formatted in compliance with the ISO8601
							standard must be used.
						</description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtendedRecord"
				type="tns:ExtendedRecordType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="CompanyInfoType">
		<xsd:sequence>
			<xsd:element name="CompanyLegalStatus" type="xsd:token"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="YearStarted" type="xsd:integer"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Turnover" type="cdt:AmountType"
				minOccurs="0" />
			<xsd:element name="TurnoverCurrency" type="xsd:token"
				minOccurs="0" />
			<xsd:element name="TurnoverAccuracy" type="cdt:CodeType"
				minOccurs="0" />
			<xsd:element name="NumberOfEmployees" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="EmployeeAccuracy" type="cdt:CodeType" minOccurs="0" />
			<xsd:element name="IsPartOfCorporateTree" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="IsStandalone" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="ThisLevelInCorporateTree" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="IsDomesticUltimate" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="IsGlobalUltimate" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="GlobalUltimateInfoType">
		<xsd:sequence>
			<xsd:element name="GUNSNumberGU" type="ecmn:GUNSType" minOccurs="0" />
			<xsd:element name="FullNameGU" type="xsd:token" minOccurs="0" />
			<xsd:element name="DUNSNumberGU" type="cmn:DUNSType" minOccurs="0" />
			<xsd:element name="CountryCodeGU" type="cmn:ISOAlpha2CodeType" minOccurs="0" />
			<xsd:element name="AssignedTurnoverGlobalGroup" type="cdt:AmountType" minOccurs="0" nillable="true" />
			<xsd:element name="AssignedNumberOfEmployeesGlobalGroup" type="xsd:decimal" minOccurs="0" />
			<xsd:element name="AssignedSICGU" type="xsd:token" minOccurs="0" />
			<xsd:element name="AssignedSICNameGU" type="xsd:token" minOccurs="0" />
			<xsd:element name="AssignedSICGUProportionCode" type="cdt:CodeType" minOccurs="0" />
			<xsd:element name="NumberOfLevelInCorporateTree" type="xsd:integer"
				minOccurs="0" />	
			<xsd:element name="NumberOfCountriesInGroup" type="xsd:integer"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Number of countries in the corporate tree. Blank
						if this is a standalone company or no data is
						available
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="IsMultinational" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="IsMultinationalExcBranches"
				type="xsd:boolean" minOccurs="0" />
			<xsd:element name="NumberOfSitesGUGroup" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="NumberOfSitesGUGroupExcBranches" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="NumberOfSitesGUGroupInThisCountry"
				type="xsd:integer" minOccurs="0" />
			<xsd:element name="NumberOfSitesGUGroupInThisCountryExcBranches"
				type="xsd:integer" minOccurs="0" />
			<xsd:element name="NumberOfEUSitesGUGroup" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="NumberOfEUSitesGUGroupExcBranches" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DomesticUltimateInfoType">
		<xsd:sequence>
			<xsd:element name="GUNSNumberDU" type="ecmn:GUNSType"
				minOccurs="0" />
			<xsd:element name="FullNameDU" type="xsd:token"
				minOccurs="0" />
			<xsd:element name="DUNSNumberDU" type="cmn:DUNSType"
				minOccurs="0" />
			<xsd:element name="AssignedTurnoverDomesticGroup" type="cdt:AmountType" minOccurs="0" nillable="true" />
			<xsd:element name="AssignedNumberOfEmployeesDomesticGroup" type="xsd:decimal" minOccurs="0" />
			<xsd:element name="AssignedSICDU" type="xsd:token" minOccurs="0" />
			<xsd:element name="AssignedSICNameDU" type="xsd:token" minOccurs="0" />
			<xsd:element name="AssignedSICDUProportionCode" type="cdt:CodeType" minOccurs="0" />
			<xsd:element name="NumberOfSitesDUGroup" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="NumberOfSitesDUGroupExcBranches" type="xsd:integer"
				minOccurs="0" />	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="TreeBelowType">
		<xsd:sequence>
			<xsd:element name="AssignedTurnoverTreeBelow" type="cdt:AmountType" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>
						Turnover value
						assigned by D&amp;B to this legal entity and all
						entities below in the in the corporate tree.
						Only available for legal entities that are part
						of a corporate family, blank for all standalone
						or unlinked entities
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssignedNumberOfEmployeesTreeBelow" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Number of employees assigned by D&amp;B to this
						legal entity and all entities below in the
						corporate tree.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TreeBelowSites" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="TreeBelowSitesExcludingBranch" type="xsd:decimal"
				minOccurs="0" />	
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedRecordType">
		<xsd:sequence>
			<xsd:element name="CompanyInfo" type="tns:CompanyInfoType" minOccurs="0"/>
			<xsd:element name="GlobalUltimateInfo" type="tns:GlobalUltimateInfoType" minOccurs="0"/>
			<xsd:element name="DomesticUltimateInfo" type="tns:DomesticUltimateInfoType" minOccurs="0"/>
			<xsd:element name="TreeBelowInfo" type="tns:TreeBelowType" minOccurs="0"/>
			<xsd:element name="DuplicatedGUNSNumbers" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DuplicatedGUNSNumber" type="ecmn:GUNSType"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PartyRoles" minOccurs="0" 
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Role" minOccurs="0"
							maxOccurs="unbounded" type="xsd:token" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NationalIdsType">
		<xsd:sequence>
			<xsd:element name="NationalId" type="tns:NationalIdType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NationalIdType">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:token"/>
			<xsd:element name="Type" type="cdt:CodeType" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
